header.title--button{
   height: 5.5rem;
   box-shadow: 0 1px 5px #888;   
}

div.content{
   display: flex;
   max-width: 1120px;
   margin: 0 auto;
   padding: 1rem 1rem;   
   align-items: center;
   justify-content: space-between;
}

img{
   width: 14.37rem;
}

.button--NewOperation{
   background: #0066ad;
   color: #fefdfc;
   border: 0;
   padding: 0 1.5rem;
   border-radius: 0.4rem;
   height: 3rem;
}

.button--NewOperation:hover{
   filter: brightness(1.1)
}