div.table{
   margin-top: 3rem;
   padding: 1rem;
}
table{
   width: 100%;
   border-spacing: 0 0.5rem;
}
th{
   padding: 1rem 2rem;
   text-align: center;
   color: #555;
}

td{
   background: #efefef;
   color: #444;
   text-align: center;
   padding: 1rem;
}

img.resume--title--setas{
   width: 1rem;
}